@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@300;400;600&display=swap');
body{
    background: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
    padding-left: 50px;
    padding-right: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    background: hsl(216, 50%, 16%);
    max-width: 20rem;
    border-radius: 1.5rem;
}
.title{
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 18px;
}
.subtitle {
    font-weight: 300;
    font-size: 1rem;
    padding-left: 18px;
    padding-right: 18px;
    color:hsl(215, 51%, 70%);
}

.avatar{
    width: 2rem;
    height: 2rem;
    border: 1px solid white;
    border-radius: 1rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;    
}
.left{ 
     /* left is now a container  */
    display: flex;
    flex-direction: row;
    padding-right: 50px;
    padding-left: 18px;
    align-items: center;
    color: hsl(178, 100%, 50%);
}
h3{
    padding-left: 10px;
}
img{
    height: 20px; 
    
}
.right{
    display: flex;
    flex-direction: row;
    padding-right: 18px;
    align-items: center;
    justify-content: flex-start;
    color:hsl(215, 51%, 70%);
}
.person{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 18px;
    margin-right: 18px;
    border-top: 0.5px solid hsl(215, 51%, 70%);
}
p{
    font-size: 1rem;
    padding-left: 18px;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}
a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
a:hover{
    color:hsl(178, 100%, 50%);
    transition: all 0.5s ease ;
    
}
.images {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nft {
    position: relative;
    top: 0;
    left: 0;
    min-width: 18rem;
    min-height: 17rem;
    margin-top: 10px;
    border-radius: 1.5rem;
    height: 0px;
}
.hover-view {
    position: absolute;
    z-index: 1;
    height: 0px;
    width: 100%;
    
    border-radius: 1.5rem;
}
.view{
    opacity: 0;
    object-fit: scale-down;
    object-position: center center;
    border-radius: 0.095rem;
}
.images:hover .view{
    opacity: 1;
    background-color: hsla(178, 100%, 50%, .5);
    transition: all 0.7s ease;
    transform: scale(14.25, 13.3);
    margin-top: -5px; 
}

